*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh; /*Make more flexible with extra content */

  background: linear-gradient(
    135deg, /* Adjust Degree the way gradient */
    #dfe9f3 0%,
    #ffffff 50%,
    #d3cce3 100%
  );
}

header{
  position: sticky;
  top: 20px;
  margin: 20px auto;
  width: 90%;
  padding: 15px 40px;

  background: rgba(225, 255,255, 0.2);
  backdrop-filter: blur(15px); /*Add backdrop filter for back*/
  -webkit-backdrop-filter: blur(12px);

  border-radius: 15px;
  border: 1px soild rgba(225, 255,255, 0.3);
  
  /*          x. y. shadow detail. color */ 
  box-shadow: 0 8px 32px rgba(0,0,0,0.1);
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links a{
  margin-left: 20px;
  text-decoration: none; /*hide highlight color nav */
  color: black;
  font-weight: bold;
}

.hero{
  padding: 100px 20px;
  text-align: center;
  background: #f4f4f4;
}

.hero h1{
  font-size: 32px;
  max-width: 700px;
  margin: 0 auto 20px;
}

.hero button{
  padding: 12px 25px;
  border-radius: 12px;

  background-color: rgba(225, 255,255, 0.3);
  backdrop-filter: blur(8px);

  border: 1px solid rgba(225, 225, 225, 0.4);
  cursor: pointer;
  transition: all 0.3 ease;
}

.hero button:hover,
.Contact button:hover{
  background: rgba(225, 225, 225, 0.6);
  transform: translateY(-5px)
}

.Contact button{
  margin-top: 20px;
  padding: 12px 25px;
  border-radius: 12px;

  background-color: rgba(225, 255,255, 0.3);
  backdrop-filter: blur(8px);

  border: 1px solid rgba(225, 225, 225, 0.4);
  cursor: pointer;
  transition: all 0.3 ease;
}


.port{
  padding: 60px 40px;
}

.port h2 {
  text-align: center;
  margin-bottom: 50px;
}

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}

.card{
  padding: 40px 20px;
  text-align: center;
  border-radius: 20px; /*Adjust how smooth angle*/

  background: rgba(225, 225, 255, 0.25);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border: 1px rgba(225, 225, 225, 0.4);
  box-shadow: 0 8px 32px rgba(0,0,0,0.1);

  transition: all 0.3s ease;
  cursor: pointer;
}

.card:hover{
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

.Contact{
  margin: 60px auto;
  width: 90%;
  padding: 60px 20px;
  text-align: center;

  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border-radius: 25px;
  border: 1px solid rgba(225,225,225,0.4);

  box-shadow: 0 8px 32 px rgba(0,0,0,0.1);
}


footer {
  padding: 20px;
  text-align: center;
  border-top: 1px solid #eee;
  font-size: 14px;
}