*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

header{
  padding: 25px 40px;
  border-bottom: 1px solid white;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links a{
  margin-left: 20px;
  text-decoration: none; /*hide highlight color nav */
  color: black;
  font-weight: bold;
}

